<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confeitaria Delícia</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
</head>
<body>

   <header>
        <div class="container">
            <div class="logo"><img src="{{ url_for('static', filename='img/logo.png') }}" width="300px"></div>
            <nav>
                <div class="nav-toggle" id="nav-toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav-menu" id="nav-menu">
                    <li><a href="/">Início</a></li>
                    <li><a href="/sobre">Sobre nós</a></li>
                    <li><a href="/cardapio">Cardápio</a></li>
                    <li><a href="/contatos">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

  <main>
    <section class="hero">
      <div class="container">
        <h2>Os melhores bolos da cidade!</h2>
        <p>Delícias feitas com amor e ingredientes frescos.</p>
        <a href="#" class="cta-button">Saiba Mais</a>
      </div>
    </section>

    <section class="about">
      <div class="container">
        <h2>Sobre Nós</h2>
        <p>Somos uma confeitaria dedicada a criar bolos deliciosos e personalizados para todas as ocasiões. Nossa paixão pela confeitaria é refletida em cada criação que sai da nossa cozinha.</p>
      </div>
    </section>

    <section class="menu">
      <div class="container">
        <h2>Nosso Cardápio</h2>
        <div class="menu-items">
          <div class="menu-item">
              <img src="{{ url_for('static', filename='img/1bolo.jpg') }}" width="200px">
            <h3>Bolo de Chocolate</h3>
            <p>Um clássico irresistível com camadas de chocolate rico.</p>
          </div>
          <div class="menu-item">
              <img src="{{ url_for('static', filename='img/2bolo.jpg') }}" width="200px">
            <h3>Bolo de Morango</h3>
            <p>Fresco e frutado, perfeito para qualquer celebração.</p>
          </div>
          <div class="menu-item">
              <img src="{{ url_for('static', filename='img/3bolo.jpg') }}" width="200px">
            <h3>Bolo de Cenoura</h3>
            <p>Uma delícia tradicional com cobertura de chocolate.</p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2024 Confeitaria Delícia. Todos os direitos reservados.</p>
    </div>
  </footer>
<script>
    document.getElementById('nav-toggle').addEventListener('click', function() {
        const menu = document.getElementById('nav-menu');
        menu.classList.toggle('active');
    });
  </script>
</body>
</html>
